{% extends "ListEmp/basic.html" %}                 <!-- Наследование от базового шаблона -->
{% load static %}                                  <!-- Загрузка статических файлов -->
{% block title %}Добавление сотрудника{% endblock %}  <!-- Заголовок страницы -->

{% block content %}  <!-- Начало блока с контентом  -->

<p>
   <!-- <center>  -->
        <b>Добавление сотрудника 

      <!--  </center> -->
    </b> </p><br><br><br>


 <!--<center>-->
 <!-- Форма для добавления нового сотрудника    {% url 'api-employ-list' %}       -->
    <form id="AddEmployForm" name="AddEmployForm" action=" {% url 'employ-list' %}" method="post">
       {% csrf_token %}  <!-- Защита от CSRF атак --> 
        <!--       -->
    <label for = "fio">Ф.И.О.</label>
    <input type="text" id="fio" name="fio" placeholder="Фамилия и инициалы"/><br><br>

   

    <!--Добавление нового невозможно (по крайней мере в нашей стране). Поэтому это поле 
    было реализовано именно так -->
    <label for = "gender">Пол</label>
        <select id="gender" name="gender">
           <option value= "1">Мужской</option>
           <option value= "2">Женский</option>
        </select> <br><br>

    <label for = "age">Возраст</label>
    <input type="number" id="age" name="age" placeholder="Возраст сотрудника" /><br><br>

    


    <label for = "CategorySelect">Категория</label>
    <select id="CategorySelect" onchange="loadPositions()" name="CategorySelect">
       <option value="">Выберите категорию</option>
    </select><br><br>  

<!-- Подгружаем в поле "Категория" значения из БД --> 
   <script>
    document.addEventListener('DOMContentLoaded', function() {
        fetch('/get_categories/')
            .then(response => response.json())
            .then(data => {
                const select = document.getElementById('CategorySelect');
                data.forEach(item => {
                    const option = document.createElement('option');
                    option.value = item.id;
                    option.textContent = item.name;
                    select.appendChild(option);
                });
            })
            .catch(error => console.error('Ошибка:', error));
    });
</script>





    <label for = "PositionSelect">Должность</label>
    <select id="PositionSelect" name="PositionSelect"  /><br><br>
         <option value="">Выберите должность</option>    
    </select>



<script>
    
// Обработчик который срабатывает когда страница полностью загружена (DOMContentLoaded)
document.addEventListener('DOMContentLoaded', function() {  
            const categorySelect = document.querySelector('#CategorySelect');
            const positionSelect = document.querySelector('#PositionSelect');
// Обработчик который срабатывает тогда когда происходят изменения (change) в элементе categorySelect
            categorySelect.addEventListener('change', async function(event) { // function(event) — анонимная функция‑обработчик, которая получит объект события event при срабатывании.
             // event — объект события, содержащий:
             //   - event.target — сам элемент (categorySelect);
             //   - event.target.value — новое значение элемента;
             //   и др. свойства.
                let selectedCategoryId = event.target.value; // Запоминаем новое значение элемента categorySelect
                // ПРОВЕРКА НА СУЩЕСТВОВАНИЕ ЗНАЧЕНИЯ В ПОЛЕ "КАТЕГОРИЯ"
                if (!selectedCategoryId) {                  // Если значение categorySelect отсутствует
                    positionSelect.disabled = true;  // Делаем элемент PositionSelect недоступным для взаимодействия
                    positionSelect.innerHTML = '<option value="">Выберите категорию сначала...</option>';  // И выводим информационное сообщение
                    return; // Производим выход из данной функции
                }
                // Запрашиваем список должностей соответствующих текущей категории
                const response = await fetch(`/get_positions/${selectedCategoryId}/`); // 
                const data = await response.json();  // Получаем json-объект со списком должностей

                positionSelect.disabled = false;   // Делаем элемент PositionSelect доступным для взаимодействия
                positionSelect.innerHTML = '';    // Очищаем элемент PositionSelect
                data.forEach((position) => {    
                    const option = document.createElement('option');
                    option.value = position.id; //
                    option.textContent = position.name_position;
                    positionSelect.appendChild(option);  
                });
            });
        });

</script>






   <!-- Формируем значения для поля "Должность"       <script src="{% static 'js/functions.js' %}"></script></div>                                                    -->
    
     <script src="{% static 'js/AddEmploy.js' %}"></script></div>

   <!-- <center> -->

   


<!-- Если требуется отправить данные на сервер перед переходом, используйте форму:
   method="get" — для простого перехода (аналогично ссылке).  
   method="post" — если нужно отправить данные (но тогда представление должно обрабатывать POST‑запросы). -->

<form action="{% url 'employ-list' %}" method="post">
    <button type="submit">Добавить</button>
</form>


    
   <!-- </center> -->
    
    <br><br>
    
</form>

<!--</center>  -->

















{% endblock %}
