{% extends "ListEmp/basic.html" %}                 <!-- Наследование от базового шаблона -->
{% load static %}                                  <!-- Загрузка статических файлов -->
{% block title %}Добавление должности{% endblock %}  <!-- Заголовок страницы -->

{% block content %}  <!-- Начало блока с контентом  -->

<div class="mx-auto p-5 m-5" >

<div><center><p class="h3 mb-3">Добавление должности: </p></center></div>
 <br>


 <!--<script src="{% static 'js/AddEmploy.js' %} defer"></script> -->  
<form id="AddPositionForm" name="AddPositionForm" method ="POST">
     {% csrf_token %}  <!-- Защита от CSRF атак --> 
    
      
<div class="mx-auto p-2" style="width: 400px;">  <!--  Автоцентрирование блока через Bootstrap   -->

<!-- Поле "Категория" -->
<div class="input-group mb-3">
  <label class="input-group-text bg-primary text-light px-3" for="category" style="width: 110px;">Категория</label>
  <select class="form-select" id="category"  name="category">  
  <!--  <option selected>Выберите категорию к которой относится должность</option> -->
  </select>
   <script>  //  Подгружаем в поле "Категория" значения из БД 
    document.addEventListener('DOMContentLoaded', function() {
        fetch('api/category/')
            .then(response => response.json())
            .then(data => {
                const select = document.getElementById('category');
              //  console.log(select)
              //  console.log(data)
                data.forEach(item => {
                    const option = document.createElement('option');
                    option.value = item.id;
                    option.textContent = item.name_category;
                    select.appendChild(option);
                });
            })
            .catch(error => console.error('Ошибка:', error));
    });
</script>
</div>

<!-- Поле "Должность" -->
<div class="input-group mb-3">
  <span class="input-group-text bg-primary text-light px-3" id="basic-addon2" style="width: 110px;">Должность</span>
  <input type="text" id="name_position" name="name_position" class="form-control" placeholder="Должность" aria-label="Должность" aria-describedby="basic-addon2" required>
</div>

</div>

<div class="mx-auto p-2" style="width: 100px;">  <!--  Автоцентрирование блока через Bootstrap  -->
<button type="submit" class="btn btn-outline-primary">Сохранить</button>
</div>
</form>   

 <!--  <button onclick="editEmploy()" type="submit" class="btn btn-outline-primary">Сохранить</button>                      -->
<!-- <button onclick="addEmploy()" type="submit" class="btn btn-primary">Сохранить Func</button>  -->

<!--  <button onclick="editEmploy(${data.id})" type="submit" class="btn btn-primary">Сохранить</button>    addEmploy()   -->


<div id="message" class="message" style="display: none;"></div>


 <!-- НУЖНО РЕШИТЬ ИСПОЛЬЗОВАТЬ ИЛИ НЕТ ЭТОТ ФАЙЛ -->
       <script src="{% static 'js/AddPosition.js' %}"></script>

{% endblock %}
