{% extends "ListEmp/basic.html" %}                 <!-- Наследование от базового шаблона -->
{% load static %}                                  <!-- Загрузка статических файлов -->
{% block title %}Добавление сотрудника{% endblock %}  <!-- Заголовок страницы -->

{% block content %}  <!-- Начало блока с контентом  -->

<p>
   <!-- <center>  -->
        <b>Добавление сотрудника 

      <!--  </center> -->
    </b> </p><br><br><br>


 <!--<center>-->
 <!-- Форма для добавления нового сотрудника  -->
    <form id="AddEmployForm" name="AddEmployForm" action=" {% url 'api-employ-list' %}" method="post">
       {% csrf_token %}  <!-- Защита от CSRF атак --> 
        <!--       -->
    <label for = "fio">Ф.И.О.</label>
    <input type="text" id="fio" name="fio" placeholder="Фамилия и инициалы"/><br><br>

   

    <!--Добавление нового невозможно (по крайней мере в нашей стране). Поэтому это поле 
    было реализовано именно так -->
    <label for = "gender">Пол</label>
        <select id="gender" name="gender">
           <option value= "1">Мужской</option>
           <option value= "2">Женский</option>
        </select> <br><br>

    <label for = "age">Возраст</label>
    <input type="number" id="age" name="age" placeholder="Возраст сотрудника" /><br><br>

    


    <label for = "CategorySelect">Категория</label>


    <select id="CategorySelect" onchange="loadPositions()" name="CategorySelect">
       <option value="">Выберите категорию</option>
        {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
    </select><br><br>




    <label for = "PositionSelect">Должность</label>
    <select id="PositionSelect" name="PositionSelect"  /><br><br>
         <option value="">Выберите должность</option>    
    </select>

   <!-- Формируем значения для поля "Должность" -->
    <script src="{% static 'js/functions.js' %}"></script></div>

   <!-- <center> -->

        <button type="submit" >Добавить</button>
    
   <!-- </center> -->
    
    <br><br>
    
</form>

<!--</center>  -->

















{% endblock %}
