{% extends "ListEmp/basic.html" %}                 <!-- Наследование от базового шаблона -->
{% load static %}                                  <!-- Загрузка статических файлов -->
{% block title %}Добавление сотрудника{% endblock %}  <!-- Заголовок страницы -->

{% block content %}  <!-- Начало блока с контентом  -->

<p>
   <!-- <center>  -->
        <b>Добавление сотрудника 

 <!--<script src="{% static 'js/AddEmploy.js' %} defer"></script> -->  
<form id="AddEmployForm" name="AddEmployForm" method ="POST">
     {% csrf_token %}  <!-- Защита от CSRF атак --> 
<!-- Поле "Ф.И.О" -->      
<div class="mx-auto p-2" style="width: 400px;">  <!--  Автоцентрирование блока через Bootstrap   -->
 <div class="input-group mb-3">
  <span class="input-group-text" id="basic-fio">Ф.И.О</span>
  <input type="text" id="fio" name="fio" class="form-control" placeholder="Фамилия и инициалы сотрудника" aria-label="Имя пользователя" aria-describedby="basic-fio">
</div>


<!-- Поле "Пол" -->
<div class="input-group mb-3">
  <label class="input-group-text" for="gender">Пол</label>
  <select id="gender" name="gender" class="form-select" id="Select-gender">
    <option selected>Выберите пол сотрудника</option>
    <option value="1">Мужской</option>
    <option value="2">Женский</option>
  </select>
</div>

    
<!-- Поле "Возраст" -->
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Возраст</span>
  <input type="text" id="age" name="age" class="form-control" placeholder="Возраст сотрудника" aria-label="Возраст" aria-describedby="basic-addon1">
</div>


<!-- Поле "Категория" -->
<div class="input-group mb-3">
  <label class="input-group-text" for="category">Категория</label>
  <select class="form-select" id="category"  name="category">  
    <option selected>Выберите категорию к которой относится сотрудник</option>
  </select>
   <script>  //  Подгружаем в поле "Категория" значения из БД 
    document.addEventListener('DOMContentLoaded', function() {
        fetch('api/category/')
            .then(response => response.json())
            .then(data => {
                const select = document.getElementById('category');
              //  console.log(select)
              //  console.log(data)
                data.forEach(item => {
                    const option = document.createElement('option');
                    option.value = item.id;
                    option.textContent = item.name_category;
                    select.appendChild(option);
                });
            })
            .catch(error => console.error('Ошибка:', error));
    });
</script>
</div>


<!-- Поле "Должность" -->
<div class="input-group mb-3">
  <label class="input-group-text" for="positions">Должность</label>
  <select id="positions" name="positions" class="form-select" >
    <option selected>Выберите должность сотрудника</option>
  </select>
</div>

<script>  
// Обработчик который срабатывает когда страница полностью загружена (DOMContentLoaded)
document.addEventListener('DOMContentLoaded', function() {  
            const categorySelect = document.querySelector('#category');
            const positionSelect = document.querySelector('#positions');
// Обработчик который срабатывает тогда когда происходят изменения (change) в элементе categorySelect
            categorySelect.addEventListener('change', async function(event) { // function(event) — анонимная функция‑обработчик, которая получит объект события event при срабатывании.
             // event — объект события, содержащий:
             //   - event.target — сам элемент (categorySelect);
             //   - event.target.value — новое значение элемента;
             //   и др. свойства.
                let selectedCategoryId = event.target.value; // Запоминаем новое значение элемента categorySelect
                // ПРОВЕРКА НА СУЩЕСТВОВАНИЕ ЗНАЧЕНИЯ В ПОЛЕ "КАТЕГОРИЯ"
                if (!selectedCategoryId) {                  // Если значение categorySelect отсутствует
                    positionSelect.disabled = true;  // Делаем элемент PositionSelect недоступным для взаимодействия
                    positionSelect.innerHTML = '<option value="">Выберите категорию сначала...</option>';  // И выводим информационное сообщение
                    return; // Производим выход из данной функции
                }
                // Запрашиваем список должностей соответствующих текущей категории
                const response = await fetch(`api/positions/${selectedCategoryId}/`); // 
                const data = await response.json();  // Получаем json-объект со списком должностей

                positionSelect.disabled = false;   // Делаем элемент PositionSelect доступным для взаимодействия
                positionSelect.innerHTML = '';    // Очищаем элемент PositionSelect

                console.log('Тип данных:', typeof data);
                console.log('Данные:', data);
                data.forEach((position) => {    
                    const option = document.createElement('option');
                    option.value = position.id; //
                    option.textContent = position.name_position;
                    positionSelect.appendChild(option); 
                }) 
              });
              }
          
            )
</script>
</div>


<div class="mx-auto p-2" style="width: 100px;">  <!--  Автоцентрирование блока через Bootstrap   -->
<button type="submit" class="btn btn-outline-primary">Сохранить</button>
</div>
</form>   

 <!--  <button onclick="editEmploy()" type="submit" class="btn btn-outline-primary">Сохранить</button>  -->
<!-- <button onclick="addEmploy()" type="submit" class="btn btn-primary">Сохранить Func</button>  -->

<!--  <button onclick="editEmploy(${data.id})" type="submit" class="btn btn-primary">Сохранить</button>    addEmploy()   -->


<div id="message" class="message" style="display: none;"></div>


 <!-- НУЖНО РЕШИТЬ ИСПОЛЬЗОВАТЬ ИЛИ НЕТ ЭТОТ ФАЙЛ -->
       <script src="{% static 'js/AddEmploy.js' %}"></script>

{% endblock %}
