{% extends "ListEmp/basic.html" %}                 <!-- Наследование от базового шаблона -->
{% load static %}                                  <!-- Загрузка статических файлов -->
{% block title %}Добавление должности{% endblock %}  <!-- Заголовок страницы -->

{% block content %}  <!-- Начало блока с контентом  -->

<div class="mx-auto p-3" >
  <div><center><p class="h3 mb-3 m-3">Добавление должности: </p></center></div> 
    <form id="AddPositionForm" name="AddPositionForm" method ="POST">
     {% csrf_token %}  <!-- Защита от CSRF атак --> 
    
      <div class="mx-auto p-5" style="width: 400px;">  

        <!-- Поле "Категория" -->
        <div class="input-group mb-3">
          <label class="input-group-text bg-primary text-light px-3" for="category" style="width: 110px;">Категория</label>
          <select class="form-select" id="category"  name="category">  
            <option selected>Выберите категорию к которой относится должность</option> 
          </select>
   <script>  //  Подгружаем в поле "Категория" значения из БД 
    document.addEventListener('DOMContentLoaded', function() {  // После полной загрузки страницы
        fetch('api/category/')                                 // Запрашиваем на сервере все существующие категории
            .then(response => response.json())                 // Получаем ответ
            .then(data => {
                const select = document.getElementById('category');  // Ищем на странице элемент category
                data.forEach(item => {                               // Начинаем перебор полученных с сервера данных. И на каждой итерации
                    const option = document.createElement('option'); // Создаём  элемент option
                    option.value = item.id;                          // Присваиваем текущий идентификатор
                    option.textContent = item.name_category;         // Присваиваем текущее наименование категории
                    select.appendChild(option);                      // Добавляем получившийся объект option в элемент category
                });
            })
            .catch(error => console.error('Ошибка:', error));        // В случае ошибки выводим её в консоль
    });
    </script>
          </div>

          <!-- Поле "Должность" -->
          <div class="input-group mb-3">
            <span class="input-group-text bg-primary text-light px-3" id="basic-addon2" style="width: 110px;">Должность</span>
            <input type="text" id="name_position" name="name_position" class="form-control" placeholder="Должность" aria-label="Должность" aria-describedby="basic-addon2" required>
          </div>

        </div>

      <div class="mx-auto p-2" style="width: 100px;">  <!--  Автоцентрирование блока через Bootstrap  -->
          <button type="submit" class="btn btn-outline-primary">Сохранить</button>
      </div>
    </form>   

  <center><div class="mx-auto p-1" style="width: 300px;">    
    <button onclick="window.location.href='/positions/'" class="btn btn-outline-primary">Вернуться к списку должностей</button></div></center>


       <script src="{% static 'js/AddPosition.js' %}"></script> <!-- Скрипт (обработчик) отвечающий за добавление новой должности  -->

{% endblock %}
