{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
        <!-- Подключаем статические CSS и JS файлы -->
        <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}>
       <!--   <link rel="stylesheet" href={% static 'css/bootstrap.min.css.map' %}>    ПОХОЖЕ ЧТО НЕ НУЖЕН  -->
        <!--  <link rel="stylesheet"  href= {% static 'css/style.css' %}>      ЭТО МОИ СТИЛИ  имеют больший приоритет так как находятся ниже         МОЖНО БУДЕТ УДАЛИТЬ ПО ЗАВЕРШЕНИЮ -->
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script> 
      
        <title>{% block title %}Заголовок страницы{% endblock %}</title>   <!-- Заголовок страницы --> 
    </head>
    <body>
        
<!-- Панель навигации  -->
<!-- navbar-expand-  может иметь одно из значений  sm    md    lg   xl  (в порядке увеличения ширины)  -->
<!-- stycky-top  "Приклеивает" навигационную панель к верхней части страницы (иначе НавПанель пропадает при пролистывании)   -->
<!-- bg-primary   цвет фона навигационной модели  (primary - синий )   -->
<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-primary pb-1 pt-1"><!-- Основные настройки отображения панели  -->
    <a class="navbar-brand pl-5" href="{% url 'api-employ-list' %}">Список сотрудников</a>  <!-- Логотип сайта  -->


<!-- РЕШИТЬ ЧТО ДЕЛАТЬ С ЭТОЙ КНОПКОЙ. ЭТО БОЛЬШЕ ДЛЯ МОБИЛЬНЫХ УСТРОЙСТВ. В ТЗ НЕ  -->   
<!-- кнопка управления панелью на узких экранах  
<button class="navbar-toggler">
    <span class="navbar-toggler-icon" data-toggle="collapse" data-target="#navbar"></span>
</button>  -->


<!-- ЭТОТ div МОЖНО КАК КОНТЕЙНЕР ИСПОЛЬЗОВАТЬ. КНОПКА ДЛЯ КОТОРОЙ ОН ПРЕДНАЗНАЧАЛСЯ УДАЛЕНА. 
 ИСПОЛЬЗОВАТЬ КАК ОСНОВУ ДЛЯ БЛОКА НАВИГАЦИИ (МЕНЮ)  -->
<!-- Внутри этого div элемента (блока) завёрнуты все элементы с которыми работает кнопка описаная выше -->
    <div id="navbar" class="collapse navbar-collapse justify-content-between">


    <ul class="navbar-nav ml-auto">   <!-- Выравниваем пункты меню навигационной панели по правому краю  -->  
        <li class="nav-item"><a class="nav-link" href="{% url 'api-employ-list' %}">Сотрудники </a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'api-positions-list' %}">Должности </a></li>
    </ul>

</nav>

<section class="col border py-2 ">
 <!-- Класс py-2 устанавливает для тего небольшие внутренние отступы сверху и снизу, чтобы содержимое
тега не примыкало к рамке вплотную -->
                         
                            {% block content %}Контент{% endblock %}




                          
  <!-- В семантическую секцию мы поместили код, выводящий всплывающие сообщения, и блок content,
в котором будет выводится основное содержимое страниц  -->
                        </section>


 <!--</div> Изначально этот div относился к Блоку Навигации. Перенёс его выше к блоку навигации. Здесь на всякий случай оставил. УДАЛИТЬ -->

               <footer class="mt-3">
                        <p class="text-center font-italic">&copy; Лесной. Замараев Вячеслав. 2026.</p>
                    </footer>
   
                </body>
            </html>

