{% extends "ListEmp/basic.html" %}                 <!-- Наследование от базового шаблона -->
{% load static %}                                  <!-- Загрузка статических файлов -->
{% block title %}Личная карточка сотрудника{% endblock %}  <!-- Заголовок страницы -->

{% block content %}  <!-- Начало блока с контентом  -->


 <!--
<p><center> <b> Личная карточка сотрудника: </center> </b> </p>
{% csrf_token %} 
  
   <center><div id = "result">
       <center><div id = "result-fio"> </div></center>     
       <center><div id = "result-gender"> </div></center>  
       <center><div id = "result-age"> </div></center>     
  </div></center>  
<br>     -->

<!-- Кнопка для перехода на страницу изменения Личной карточки сотрудника  -->
  <center>
    

    
 <!--
    <form id = "changeCard"  method="post" action="javascript:void(0)">   
{% csrf_token %} 
    <input type="submit" value="Изменить карточку сотрудника" />



<a href="{% url 'employ-list' %}">
    <button type="button">Вернуться к списку сотрудников</button>
</a>
</center>
-->





<!--   СКРИПТ ДЛЯ ОБРАБОТКИ ДАННЫХ    -->
 
    <script src="{% static 'js/CardEmploy.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>

</div>  




<h1> Личная карточка сотрудника: </h1>







         <table id = "employees-card-table" class="table table-striped">
    <thead>   <!-- Формируем шапку таблицы  -->
        <tr>
          <!--  <th scope="col">#</th>   -->
          <center>  <th scope="col"></th>
            <th scope="col"></th></center>
           <!-- <th scope="col">Возраст</th>  -->
          <!--  <th scope="col">Должность</th>  -->
          <!--  <th scope="col">Категория</th>   -->
          <!--  <th scope="col">Действия</th>   -->
        </tr>
    </thead>
    <tbody></tbody>
</table>



        <!--  <button onclick="window.location.href='/employlist/'" class="btn btn-warning">Вернуться к списку сотрудников</button>  -->
    </div>
</form>
</div>





 {% endblock %}