{% extends "ListEmp/basic.html" %}                 <!-- Наследование от базового шаблона -->
{% load static %}                                  <!-- Загрузка статических файлов -->
{% block title %}Список сотрудников{% endblock %}  <!-- Заголовок страницы -->

{% block content %}  <!-- Начало блока с контентом  -->

<div><center>
    <p><b>Просмотр списка сотрудников</b></p>

    <!-- Кнопка "Добавить сотрудника"      ListEmp/templates/ListEmp/add_employ.html   -->
   <a href="{% url 'employ-new' %}">
    <button type="submit" formmethod="post">Добавить сотрудника</button></a>
    
   

   <br><br>
   <br><br>


         <!-- Формируем блок для вывода данных (Позиционируем его по центру)        "http://127.0.0.1:8000/api/employ/;"    {% url "employ-new" %}     -->  
         <div id = "result"></div>
          <script src="{% static 'js/ShowListEmploy.js' %}"></script>   
          <script src="{% static 'js/functions.js' %}"></script></div>   
 </center></div>








<h1>Сотрудники: </h1>

<!--  table-striped   для разделения «полосками зебры» рядов таблицы. -->
<!--  table-striped-columns   чтобы добавить полосу зебры к любому столбцу таблицы.   -->
<!--  table-hover, чтобы включить состояние наведения курсора на строки таблицы внутри <tbody>.  -->
<!--  table-bordered   отображение границ таблицы  -->
<!--    -->
<!--    -->
<!--    -->
<!--    -->
<!--    -->


<table id = "employees-table" class="table align-middle table-sm table-striped table-hover">
    <thead>   <!-- Формируем шапку таблицы    table-striped -->
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ф.И.О</th>
            <th scope="col">Пол</th>
            <th scope="col">Возраст</th>
            <th scope="col">Должность</th>
            <th scope="col">Категория</th>
            <th scope="col">Действия</th>
        </tr>
    </thead>
    <tbody class="table-group-divider"></tbody>
</table>





<!-- <script src="{% static 'js/main.js' %}">-->






{% endblock %} 
      