{% extends "ListEmp/basic.html" %}                 <!-- Наследование от базового шаблона -->
{% load static %}                                  <!-- Загрузка статических файлов -->
{% block title %}Список должностей{% endblock %}  <!-- Заголовок страницы -->

{% block content %}  <!-- Начало блока с контентом  -->


<div class="mx-auto p-3" style="width: 400px;">

  <div class="input-group mb-3">
    <label class="input-group-text bg-primary text-light px-3" for="category">Категория</label>
    <select class="form-select" id="category"  name="category"></select>

   <script>  //  Подгружаем в поле "Категория" значения из БД 
    document.addEventListener('DOMContentLoaded', function() {
        fetch('api/category/')
            .then(response => response.json())
            .then(data => {
                const select = document.getElementById('category');
                data.forEach(item => {
                    const option = document.createElement('option');
                    option.value = item.id;
                    option.textContent = item.name_category;
                    select.appendChild(option);
                });
            })
            .catch(error => console.error('Ошибка:', error));
        });
      </script>
    </div>
    </div>

<div><center><p class="h3 mb-3 m-3">Список должностей: </p></center></div>


<div class="mx-auto p-2" style="width: 600px;" >

<table id = "positions-table" class="table table-striped table-sm align-middle table-hover">
    <thead>   <!-- Формируем шапку таблицы    table-striped -->
        <tr>
            <th scope="col">#</th>
            <th scope="col">Должность</th>
            <th scope="col">Категория</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody class="table-group-divider"></tbody>
</table>


<script> 
  // Обработчик загружающий нужный набор данных в зависимости от того какая категория выбрана
document.addEventListener('DOMContentLoaded', function() { 
   const selectElement = document.getElementById('category');  // Ищем на странице элемент 'category'
   let id = 1;  // Значение идентификатора по умолчанию. На тот случай если страница только загружена и никаких манипуляций с ней не производилось
   // То есть в том случае если sessionStorage пустой

   const savedCategory = sessionStorage.getItem('returnCategory'); // Получаем значение из sessionStorage
   if (savedCategory) {        // Если sessionStorage  был не пустой
      if (selectElement) {     // Если элемент 'category' найден
      selectElement.value = savedCategory;  // Присваиваем свойству value элемента 'category' значение из savedCategory
      id = savedCategory                    // Также меняем значение в переменной id на значение из sessionStorage

      // Очищаем сохранённое значение после использования
      sessionStorage.removeItem('returnCategory'); // Удаляем из хранилища sessionStorage элемент с ключом returnCategory
    }
  }
    getPositionList(id);  // Передаём значение текущего идентификатора Категории в функцию отвечающую за загрузку данных

//Обработчик изменения выбора в select
  selectElement.addEventListener('change', function() {  // При изменении значения в select
    const selectedId = this.value;  // Получаем текущее значение select
     getPositionList(selectedId);     // Передаём полученное значение в функцию отвечающую за загрузку данных
}) 
}) 

</script>

 <script src="{% static 'js/ShowListPositions.js' %}"></script>
  <script src="{% static 'js/Delete.js' %}"></script></div> 


{% endblock %} 
      