{% extends "ListEmp/basic.html" %}                 <!-- Наследование от базового шаблона -->
{% load static %}                                  <!-- Загрузка статических файлов -->
{% block title %}Список сотрудников{% endblock %}  <!-- Заголовок страницы -->

{% block content %}  <!-- Начало блока с контентом  -->

<div><center>
    <p><b>Просмотр списка сотрудников</b></p>

    <!-- Кнопка "Добавить сотрудника"      ListEmp/templates/ListEmp/add_employ.html   -->
   <a href="{% url 'employ-new' %}">
    <button type="submit" formmethod="post">Добавить сотрудника</button></a>
    
    <br><br>

<a href="{% url 'employ-new' %}" class="btn">Перейти</a>

<br><br>
<br><br>


         <!-- Формируем блок для вывода данных (Позиционируем его по центру)        "http://127.0.0.1:8000/api/employ/;"    {% url "employ-new" %}     -->  
         <div id = "result"></div>
         <script src="{% static 'js/ShowListEmploy.js' %}"></script>
         <script src="{% static 'js/functions.js' %}"></script></div>  
 </center></div>

{% endblock %} <!-- Окончание блока с контентом    "http://127.0.0.1:8000/employ/new/;"   employ-new    employ/new/   -->
      