{% extends "ListEmp/basic.html" %}                 <!-- Наследование от базового шаблона -->
{% load static %}                                  <!-- Загрузка статических файлов -->
{% block title %}Список должностей{% endblock %}  <!-- Заголовок страницы -->

{% block content %}  <!-- Начало блока с контентом  -->

<div><center>
    <p><b>Просмотр списка сотрудников</b></p>

    <!-- Кнопка "Добавить сотрудника"      ListEmp/templates/ListEmp/add_employ.html   -->
   <a href="{% url 'employ-new' %}">
    <button type="submit" formmethod="post">Добавить сотрудника</button></a>
    
   

   
   <br><br>


         <!-- Формируем блок для вывода данных (Позиционируем его по центру)        "http://127.0.0.1:8000/api/employ/;"    {% url "employ-new" %}     -->  
         <div id = "result"></div>
          
          <script src="{% static 'js/functions.js' %}"></script></div>   
 </center></div>


<br>
   

<div class="mx-auto p-2" style="width: 400px;">
<div class="input-group mb-3">
  <label class="input-group-text" for="category">Категория</label>
  <select class="form-select" id="category"  name="category">  
   <!-- <option selected>Выберите категорию к которой относится сотрудник</option>   -->
  </select>
   <script>  //  Подгружаем в поле "Категория" значения из БД 
    document.addEventListener('DOMContentLoaded', function() {
        fetch('api/category/')
            .then(response => response.json())
            .then(data => {
                const select = document.getElementById('category');
              //  console.log(select)
              //  console.log(data)
                data.forEach(item => {
                    const option = document.createElement('option');
                    option.value = item.id;
                    option.textContent = item.name_category;
                  //console.log(option.value)
                  //console.log(option.textContent)

                    select.appendChild(option);
                });
            })
            .catch(error => console.error('Ошибка:', error));
    });
</script>
</div>
</div>








<br><br>
   


<h1>Должности: </h1>

<!--  table-striped   для разделения «полосками зебры» рядов таблицы. -->
<!--  table-striped-columns   чтобы добавить полосу зебры к любому столбцу таблицы.   -->
<!--  table-hover, чтобы включить состояние наведения курсора на строки таблицы внутри <tbody>.  -->
<!--  table-bordered   отображение границ таблицы  -->


<table id = "positions-table" class="table align-middle table-sm table-striped table-hover">
    <thead>   <!-- Формируем шапку таблицы    table-striped -->
        <tr>
            <th scope="col">#</th>
            <th scope="col">Должность</th>
            <th scope="col">Категория</th>
            <th scope="col">Действия</th>
        </tr>
    </thead>
    <tbody class="table-group-divider"></tbody>
</table>

<div id = "messagesContainer"> </div> <!-- Для отображения информационных сообщений -->
 



<script> 
// Обработчик который срабатывает когда страница полностью загружена (DOMContentLoaded)  document
document.addEventListener('DOMContentLoaded', function() { 
   const selectElement = document.getElementById('category');  // Ищем на странице элемент 'category'

   let id = 1;

console.log(sessionStorage.getItem('returnCategory')) ///////////////////////// null

   const savedCategory = sessionStorage.getItem('returnCategory'); // Возвращаем значение из sessionStorage

console.log(savedCategory) /////////////////////////////  null

   if (savedCategory) { // Если значение присутствует
   // const selectElement = document.getElementById('category');  // Ищем на странице элемент 'category'

console.log(savedCategory) ///////////////////////////

    if (selectElement) {     // Если элемент 'category' найден
      selectElement.value = savedCategory;  // Присваиваем свойству value элемента 'category' значение из savedCategory
       id = savedCategory ////
console.log(id) //////////////////////////////////////
console.log(selectElement.value)  /////////////////////////////

      // Очищаем сохранённое значение после использования
      sessionStorage.removeItem('returnCategory'); // Удаляем из хранилища sessionStorage элемент с ключом returnCategory
    }





/*
  }else{
   // id = 1
console.log(id) //////////////////////////////////////////  1
*/





   // const selectElement = document.getElementById('category'); // Ищем на странице элемент 'category'
    //selectElement.value = 1;   // Присваиваем значение (по умолчанию)
    //console.log(selectElement.value)  ////////////////////////
  }


   
  



    getPositionList(id);  // 1     selectElement.value

//Обработчик изменения выбора в select
  selectElement.addEventListener('change', function() {  // При изменении значения в select
    const selectedId = this.value;  // Получаем текущее значение select
     getPositionList(selectedId);     // Передаём полученное значение в функцию отвечающую за загрузку данных

}) 
})  ///////////////









</script>



 <script src="{% static 'js/ShowListPositions.js' %}"></script>






{% endblock %} 
      