{% extends "ListEmp/basic.html" %}                 <!-- Наследование от базового шаблона -->
{% load static %}                                  <!-- Загрузка статических файлов -->
{% block title %}{{ fio }} - Изменение{% endblock %}  <!-- Заголовок страницы -->

{% block content %}  <!-- Начало блока с контентом  -->

<p><b> Изменение должности </b> </p>


<form id="formUpdatePosition">
  {% csrf_token %} 
  <div class="mx-auto p-2" style="width: 400px;">  <!--  Автоцентрирование блока через Bootstrap   -->


 <!-- Поле "Категория" -->
<div class="input-group mb-3">
  <label class="input-group-text" for="category">Категория</label>
  <select class="form-select" id="category"  name="category">  
  <!--  <option selected>Выберите категорию к которой относится должность</option> -->
  </select>
   <script>  //  Подгружаем в поле "Категория" значения из БД 
    document.addEventListener('DOMContentLoaded', function() {
        fetch('api/category/')
            .then(response => response.json())
            .then(data => {
                const select = document.getElementById('category');
              //  console.log(select)
              //  console.log(data)
                data.forEach(item => {
                    const option = document.createElement('option');
                    option.value = item.id;
                    option.textContent = item.name_category;
                    select.appendChild(option);
                });
            })
            .catch(error => console.error('Ошибка:', error));
    });
</script>
</div>






<!-- Поле "Должность" -->
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon2">Должность</span>
  <input type="text" id="name_position" name="name_position" class="form-control" placeholder="Должность" aria-label="Должность" aria-describedby="basic-addon2" required>
</div>

</div>

<!-- 
<div class="mx-auto p-2" style="width: 100px;">  
<button type="submit" class="btn btn-outline-primary">Сохранить</button>
-->

</div>
</form>




<script>
// Формирование ссылки к API-ресурсу
const pathParts = window.location.pathname.split('/');  
console.log(pathParts)
const Id = pathParts[3];   // Получаем идентификатор записи
console.log(Id)
const UrlAPI = 'api/position/' + Id + '/'; // Формируем ссылку для получения данных
console.log(UrlAPI)

 async function loadCurrentData() { // Подгружаем текущие значения полей из БД
                const response = await fetch(UrlAPI); // Передаём адрес API-ресурса
                const data = await response.json(); // получаем JSON объект с данными

                console.log(data)
                console.log(data.category)
                console.log(data.name_position)



                document.getElementById("category").value = data.category || '';       // Получаем значение "Ф.И.О"
                document.getElementById("name_position").value = data.name_position || ''; // Получаем значение "Пол"
                

// ===============================================================================================

    let form = document.querySelector('#formUpdatePosition');
    //tbody.innerHTML = '';  // Очищаем элемент tbody
  //  for(let i = 0; i < data.length; i++) {


      // Формируем очередную строку таблицы с кнопками для управления текущей записью  ${data.id}
        let button= `<div class="mx-auto p-2" style="width: 100px;">     <!--  Автоцентрирование блока через Bootstrap    onclick="editEmploy()" -->
                       <button  type="submit" class="btn btn-outline-primary">Сохранить</button>
                    </div>`;    
        form.insertAdjacentHTML('beforeend', button);
        }
        
        // Подгружаем данные в соответствующие поля после полной загрузки документа
        window.addEventListener('DOMContentLoaded', () => {
            loadCurrentData();
        });
</script>

 <script src="{% static 'js/updatePositions.js' %}"></script> 


{% endblock %}

