{% extends "ListEmp/basic.html" %}                 <!-- Наследование от базового шаблона -->
{% load static %}                                  <!-- Загрузка статических файлов -->
{% block title %}{{ fio }} - Изменение{% endblock %}  <!-- Заголовок страницы -->

{% block content %}  <!-- Начало блока с контентом  -->

<p><b> Изменение карточки сотрудника </b> </p>


<form id="formUpdateEmploy">
  {% csrf_token %} 
  <div class="mx-auto p-2" style="width: 400px;">  <!--  Автоцентрирование блока через Bootstrap   -->
 <div class="input-group mb-3">
  <span class="input-group-text" id="basic-fio">Ф.И.О</span>
  <input id="field-fio" name="fio" type="text" class="form-control" placeholder="Фамилия и инициалы сотрудника" aria-label="Имя пользователя" aria-describedby="basic-fio">
</div>


<div class="input-group mb-3">
  <label class="input-group-text" for="inputSelectGender">Пол</label>
  <select id="field-gender" name="gender" class="form-select" id="inputSelectGender">
    <option selected>Выберите пол сотрудника</option>
    <option value="1">Мужской</option>
    <option value="2">Женский</option>
    
  </select>
</div>


<div class="input-group mb-3">
  <span class="input-group-text" id="basic-age">Возраст</span>
  <input id="field-age" name="age" type="text" class="form-control" placeholder="Возраст сотрудника" aria-label="Возраст" aria-describedby="basic-age">
</div>
</div>



</div>
</form>

<script>
// Формирование ссылки к API-ресурсу
const pathParts = window.location.pathname.split('/');  
console.log(pathParts)
const Id = pathParts[3];   // Получаем идентификатор записи
console.log(Id)
const UrlAPI = 'api/employee/' + Id + '/'; // Формируем ссылку для получения данных
console.log(UrlAPI)

 async function loadCurrentData() { // Подгружаем текущие значения полей из БД
                const response = await fetch(UrlAPI); // Передаём адрес API-ресурса
                const data = await response.json(); // получаем JSON объект с данными

                document.getElementById("field-fio").value = data.fio || '';       // Получаем значение "Ф.И.О"
                document.getElementById("field-gender").value = data.gender || ''; // Получаем значение "Пол"
                document.getElementById("field-age").value = data.age || '';       // Получаем значение "Возраст"

// ===============================================================================================

    let form = document.querySelector('#formUpdateEmploy');
    //tbody.innerHTML = '';  // Очищаем элемент tbody
  //  for(let i = 0; i < data.length; i++) {


      // Формируем очередную строку таблицы с кнопками для управления текущей записью  ${data.id}
        let button= `<div class="mx-auto p-2" style="width: 100px;">     <!--  Автоцентрирование блока через Bootstrap    onclick="editEmploy()" -->
                       <button  type="submit" class="btn btn-outline-primary">Сохранить</button>
                    </div>`;    
        form.insertAdjacentHTML('beforeend', button);
        }
        
        // Подгружаем данные в соответствующие поля после полной загрузки документа
        window.addEventListener('DOMContentLoaded', () => {
            loadCurrentData();
        });
</script>

 <script src="{% static 'js/updateCardEmploy.js' %}"></script> 


{% endblock %}

