{% extends "ListEmp/basic.html" %}                 <!-- Наследование от базового шаблона -->
{% load static %}                                  <!-- Загрузка статических файлов -->
{% block title %}Изменение должности{% endblock %}  <!-- Заголовок страницы -->

{% block content %}  <!-- Начало блока с контентом  -->

<div class="mx-auto p-3 " >
  <div><center><p class="h3 mb-3 m-3">Изменение должности: </p></center></div>
    <form id="formUpdatePosition">
    {% csrf_token %} 
      <div class="mx-auto p-5" style="width: 400px;">  

        <!-- Поле "Категория" -->
        <div class="input-group mb-3">
          <label class="input-group-text bg-primary text-light px-3" for="category" style="width: 110px;">Категория</label>
          <select class="form-select" id="category"  name="category">  
          </select>

          <!-- Подгружаем в поле "Категория" значения из БД  -->  
          <script> 
          document.addEventListener('DOMContentLoaded', function() {  // После полной загрузки страницы
            fetch('api/category/')                   // Запрашиваем у сервера все категории из БД
              .then(response => response.json())     // Получаем ответ
              .then(data => {                        // Ответ сохраняем в переменной data
                const select = document.getElementById('category');  // Ищем на стоанице элемент category
                data.forEach(item => {                                // Перебираем все данные полученные в ответе. И на каждой итерации
                    const option = document.createElement('option');  // Создаём элемент option
                    option.value = item.id;                           // Присваеваем элементу option текущее значение идентификатора
                    option.textContent = item.name_category;          // Присваеваем элементу option текущее значение наименования категории
                    select.appendChild(option);                       // Добавляем элемент option внутрь элемента categor
                });
            })
            .catch(error => console.error('Ошибка:', error));         // В случае возникновения ошибки выводим информацию об этой ошибке на консоль
            });
          </script>
        </div>

        <!-- Поле "Должность" -->
        <div class="input-group mb-3">
          <span class="input-group-text bg-primary text-light px-3" id="basic-addon2" style="width: 110px;">Должность</span>
          <input type="text" id="name_position" name="name_position" class="form-control" placeholder="Должность" aria-label="Должность" aria-describedby="basic-addon2" required>
        </div>

      </div>
    </form>
  </div>

  <center><div class="mx-auto p-1" style="width: 300px;">   
  <button onclick="window.location.href='/positions/'" class="btn btn-outline-primary">Вернуться к списку должностей</button></div></center>             

  <script>
  // Формирование ссылки к API-ресурсу
  const pathParts = window.location.pathname.split('/');  
  const Id = pathParts[3];   // Получаем идентификатор записи
  const UrlAPI = 'api/position/' + Id + '/'; // Формируем ссылку для получения данных

  // Подгружаем текущие значения полей из БД
  async function loadCurrentData() { 
        const response = await fetch(UrlAPI); // Передаём адрес API-ресурса
        const data = await response.json(); // получаем объект с данными

        document.getElementById("category").value = data.category || '';           // Получаем значение "Ф.И.О"
        document.getElementById("name_position").value = data.name_position || ''; // Получаем значение "Пол"

        let form = document.querySelector('#formUpdatePosition');       // Ищем на стоанице элемент formUpdateEmploy
    
        // Формируем кнопку "Сохранить" для текущей страницы
        let button= `<div class="mx-auto p-1" style="width: 100px;">   
                       <button  type="submit" class="btn btn-outline-primary">Сохранить</button>
                    </div>`;    
        form.insertAdjacentHTML('beforeend', button);    // Добавляем кнопку в элемент formUpdatePosition
        }
        
        // Подгружаем данные в соответствующие поля после полной загрузки документа
        window.addEventListener('DOMContentLoaded', () => {
            loadCurrentData();
        });
    </script>

    <script src="{% static 'js/updatePositions.js' %}"></script>   <!-- Скрипт (обработчик) отвечающий за изменение должности  -->

    {% endblock %}

