{% extends "ListEmp/basic.html" %}                 <!-- Наследование от базового шаблона -->
{% load static %}                                  <!-- Загрузка статических файлов -->
{% block title %}{{ fio }} - Изменение{% endblock %}  <!-- Заголовок страницы -->

{% block content %}  <!-- Начало блока с контентом  -->

<p><b> Изменение карточки сотрудника </b> </p>


 <!-- Форма для изменения информации о  сотруднике         {% url 'api-employ-detail' id %}          -->
    <form id="UpdateEmployForm" name="UpdateEmployForm" action=" {% url 'employ-save' id %}" method="post" >
       {% csrf_token %}  <!-- Защита от CSRF атак     " {% url 'employ-save' id %}"     method="post"     api-employ-detail        --> 
        <!--       -->
    <label for = "fio">Ф.И.О.</label>
    <input type="text" id="fio" name="fio" value = "{{ fio }}" /><br><br>

    <label for = "gender">Пол</label>
        <select id="gender" name="gender">
           <option value= "1">Мужской</option>
           <option value= "2">Женский</option>
        </select> <br><br>

<script> 
  // Подстановка текущего значения поля "Пол"
  const contentForm = document.getElementById("UpdateEmployForm"); // Находим элемент содержащий целевую форму (UpdateEmployForm)
  const genderField = document.getElementById('gender');           // Находим элемент 'gender'
  genderField.value = "{{ gender }}";                              // Присваиваем полю "Пол" текущее значение из БД    
</script>

    <label for = "age">Возраст</label>
    <input type="number" id="age" name="age"  value = "{{ age }}"/><br><br>


  <!--   РЕШИТЬ СУДЬБУ ЭТОГО СКРИПТА. СОХРАНЕНИЕ В БАЗЕ ОТРАБАТЫВАЕТ И БЕЗ ЭТОГО СКРИПТА (ЧЕРЕЗ ДЖАНГО)    -->  
  <!--      <script src="{% static 'js/updateCardEmploy.js' %}"></script>   -->


    <button type="submit">Сохранить</button>
</form>



<!--   СКРИПТ ДЛЯ ОБРАБОТКИ ДАННЫХ    -->














{% endblock %}

