.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  
  




  td,th{
                width: 250px; 
                height:30px; 
                border: solid 1px black; 
                text-align:center;
	       }
		   
		   
	table{
		width: 100%;  /* Ширина таблицы  */
		
	}

    td {
		border: 1px solid #333; /* Параметры рамки  */
		padding: 5px;  /* Поля в ячейках */
		
	}

  td:first-child {
	  cursor: pointer;  /* Вид курсора    */
  }	
  
  
  
  
 
  a {
	   padding: 8px 15px;
    /* padding-top: ;*/
    /* padding-bottom: ;*/
    /* padding-left: 0%;*/
     /*padding-right: ;*/
    /* padding: auto;*/
    /* padding-inline:auto ;*/
	  background-color: #dee2e6;    /* #130505    Чёрный            #3498db Голубой              */
	  color: #141619;
	  /*text-decoration: none;*/
    border: 2px solid black;
    border-color: #090909;
	  border-radius: 4px;
	  font-weight: bold;
    text-align: center;
	 /*  display: inline-block;   */
	 /* margin-right: 50px; */ /* Отсуп слева  */
  
  }
			

/*
  label {
  display: inline-block;
  width: 150px;
  padding: 8px 12px;
  background-color: #f0f8ff;  AliceBlue 
  color: hsl(210, 54%, 35%); тёмно‑синий 
  font-family: Arial, sans-serif;
  font-size: 14px;
  border-radius: 4px;
}

*/