<!DOCTYPE html>
<html lang="ru">
<head>
    


    <meta charset="UTF-8">
    <title>Тестовая страница</title>
   
</head>
<body>

    ffffffffffffffffffffff
    <div id ="list"></div>

</body>
</html>

<script>
    const domain = 'http://localhost:8000/';

    let list = document.getElementById('list');
    let listLoader = new XMLHttpRequest();

    listLoader.addEventListener('readystatechange', () => {
        if (listLoader.readyState == 4) {
            if (listLoader.status == 200) {
                let data = JSON.parse(listLoader.responseText);
                let s = `<ul>`, d;
                for (let i = 0; i<data.length; i++) {
                    d = data[i];
                    s += `<li>` + d.FIO + '</li>';
                }
                s += `</ul>`;
                list.innerHTML = s;
            }  else 
            window.alert(listLoader.statusText);
        }
    });

    function listLoad() {
        listLoader.open('GET', domain + '', true);
        listLoader.send();
    }
    listLoad();


    