

{% load static %}  

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

       <!-- Сначала подключаем CSS -->
       <link rel="stylesheet" href={% static 'bootstrap.min.css' %}>
       <link rel="stylesheet"  href= {% static 'style.css' %}>


        <link rel="stylesheet" href={% static 'bootstrap.min.css.map' %}> 


         
       
       <!-- <link rel="stylesheet" type="text/css" href= {% static 'style.css' %}>   -->
        
       
        <title>Список сотрудников </title>
    </head>
    <body>
        
<!-- Панель навигации  -->
<!-- navbar-expand-  может иметь одно из значений  sm    md    lg   xl  (в порядке увеличения ширины)  -->
<!-- stycky-top  "Приклеивает" навигационную панель к верхней части страницы (иначе НавПанель пропадает при пролистывании)   -->
<!-- bg-primary   цвет фона навигационной модели  (primary - синий )   -->
<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-primary pb-1 pt-1"><!-- Основные настройки отображения панели  -->
  

<!-- кнопка управления панелью на узких экранах  -->
<button class="navbar-toggler">
    <span class="navbar-toggler-icon" data-toggle="collapse" data-target="#navbar"></span>
</button>
<!-- Внутри этого div элемента (блока) завёрнуты все элементы с которыми работает кнопка описаная выше -->
    <div id="navbar" class="collapse navbar-collapse justify-content-between">


    <ul class="navbar-nav ml-auto">   <!-- Выравниваем пункты меню навигационной панели по правому краю  -->  
        

        <li class="nav-item"><a class="nav-link" 
             href="{% url 'index' %}">Сотрудники </a></li> 

            <li class="nav-item"><a class="nav-link" 
                 href="{% url 'index' %}">Должности </a></li> 



      </ul>
</nav>

 <section class="col border py-2 ">
 <!-- Класс py-2 устанавливает для тего небольшие внутренние отступы сверху и снизу, чтобы содержимое
тега не примыкало к рамке вплотную -->
                           

<p><center> <b>Просмотр списка сотрудников </b></center>  </p>


<center><input type="submit" id="send3" name="send3" value = "Добавить сотрудника" /></center><br><br>

<form action="http://127.0.0.1:8000/api/employ/;" method="post"></form>

  <!-- Формируем блок для добавления данных  -->  
<center><div id = "result"></div></center>



  <script src="{% static 'js/ShowListEmploy.js' %}"></script>
  <script src="{% static 'js/functions.js' %}"></script>
    <!--  <script src="List_Employ\List_Employ\static\ShowListEmploy.js"></script>    -->             






  
 </div>  

 
                        </section>
                    </div>

               <footer class="mt-3">
                        <p class="text-center font-italic">&copy; Лесной. Замараев Вячеслав. 2025.</p>
                    </footer>
 



                  <!-- В конце тела подключаем JS -->
    <script src="{% static 'bootstrap.bundle.min.js' %}"></script> 
    <script src="{% static 'bootstrap.min.css.map' %}"></script>


       
        
<!--<script src="{% static 'ShowListEmploy.js' %}"></script>-->
   



                </body>
            </html>

        