
{% load bootstrap5 %}  <!-- Подключаем Bootstrap  -->
{% load static %}  <!-- Подключаем статические файлы -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href={% static 'bootstrap.bundle.min.js' %}>  
        <link rel="stylesheet" href={% static 'bootstrap.min.css' %}> 
       
       <!-- <link rel="stylesheet" type="text/css" href= {% static 'style.css' %}>   -->
        <link rel="stylesheet"  href= {% static 'style.css' %}>
       
        <title>Список сотрудников </title>
    </head>
    <body>
        
<!-- Панель навигации  -->
<!-- navbar-expand-  может иметь одно из значений  sm    md    lg   xl  (в порядке увеличения ширины)  -->
<!-- stycky-top  "Приклеивает" навигационную панель к верхней части страницы (иначе НавПанель пропадает при пролистывании)   -->
<!-- bg-primary   цвет фона навигационной модели  (primary - синий )   -->
<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-primary pb-1 pt-1"><!-- Основные настройки отображения панели  -->
  <!--  <a class="navbar-brand pl-5" href="{% url 'index' %}">Список сотрудников</a>   Логотип сайта  -->    -->

<!-- кнопка управления панелью на узких экранах  -->
<button class="navbar-toggler">
    <span class="navbar-toggler-icon" data-toggle="collapse" data-target="#navbar"></span>
</button>
<!-- Внутри этого div элемента (блока) завёрнуты все элементы с которыми работает кнопка описаная выше -->
    <div id="navbar" class="collapse navbar-collapse justify-content-between">


    <ul class="navbar-nav ml-auto">   <!-- Выравниваем пункты меню навигационной панели по правому краю  -->  
        

        <li class="nav-item"><a class="nav-link" 
            href="{% url 'index' %}">Сотрудники </a></li>

            <li class="nav-item"><a class="nav-link" 
                href="{% url 'index' %}">Должности </a></li>



                <li class="nav-item">
                    <a class="nav-link text-light  px-3" href="{% url 'card_employ' %}">Регистрация</a>
                  </li>


      </ul>
</nav>

 <section class="col border py-2 ">
 <!-- Класс py-2 устанавливает для тего небольшие внутренние отступы сверху и снизу, чтобы содержимое
тега не примыкало к рамке вплотную -->
                           

<p><center> <b>Просмотр списка сотрудников </b></center>  </p>


<center><input type="submit" id="send3" name="send3" value = "Добавить сотрудника" /></center><br><br>

<form action="http://127.0.0.1:8000/card/?id=5;" method="get"></form>


  <!-- Формируем блок для добавления данных  -->  
<center><div id = "result"></div></center>



                     <!--   <script src="/ShowListEmploy.js"></script>   --> 

                       <!--  {% static 'ShowListEmploy.js' %}  -->

                   

<script>

  const contentDiv = document.getElementById("result"); // Переменная contentDiv определяет элемент в котором будем работать
    
  var requestURL = "/api_ListEmp/";   // URL ресурса где хранится JSON
  var request = new XMLHttpRequest(); // Создаём экземпляр объекта запроса из конструктора XMLHttpRequest
  request.open("GET", requestURL)     // Открываем новый запрос
  request.responseType = "json"      // Указываем что должно быть преобразовано в объект JavaScript
  request.send();                    // Отправляем запрос

  request.onload = function () {
    var json = request.response;   // Сохраняем ответ на наш запрос
    const table = createTable();  //Создаём таблицу для вывода данных
   

const posts = json.posts;
for(let i = 0; i < posts.length; i++){// Извлекаем из массива все объекты (т.е. целевые данные)
   const post = posts [i];  // Определяем текуший объект, извлечённый из массива
   var row = createRow(post.FIO,post.gender,post.age,post.name_position,post.name_category)  // Формируем строку


   var id_rec = post.id;  // Запоминаем идентификатор записи

   var link_card = 'http://127.0.0.1:8000/card/?id=' + id_rec + ';';   // Формируем ссылку на целевую страницу (Карточка сотрудника)
  


   var form_card = document.createElement('form');
   form_card.action = link_card;     
   form_card.method = "post";

   
   
   var id_card = document.createElement('input');
   id_card.id = "id";
   id_card.type = "hidden";
   id_card.name = "id";
   id_card.value = post.id; 
   
   
   var submit_card = document.createElement('input');
   submit_card.type = "submit";
   submit_card.value = "Карточка сотрудника";


   console.log(link_card);
   console.log(json);
   console.log(table);
   console.log(posts);
   console.log(post);
   console.log(post.id);
   console.log(post.FIO);
   console.log(post.gender);
   console.log(post.age);
   console.log(post.name_position);
   console.log(post.name_category);

   console.log(form_card);
   console.log(form_card.action);
   console.log(form_card.method);
   console.log(id_card);
   console.log(id_card.id);
   
   console.log(id_card.type);
   console.log(id_card.name);
   console.log(id_card.value);
   console.log(submit_card.type);
   console.log(submit_card.value);








//form_card.appendChild(id_card);
form_card.appendChild(submit_card);  ///////////////////////////////////

row.appendChild(form_card); 



  
   table.appendChild(row);   // Добавляем строку в таблицу  
}
contentDiv.appendChild(table);  // Добавляем таблицу в элемент


   
   console.log(posts.length);

  };
   
// Функция для создания таблицы
function createTable() {
  const table = document.createElement("table");        // Создание таблиц
  //table.className = "table table-bordered border-secondary"

  const thead = document.createElement("thead");    ////////////////////////////////

  const headerRow = document.createElement("tr");       // Создание строки таблицы (в данном случае строки-заголовка)
  const FIOColumnHeader = document.createElement("th");        // Создание ячейки для заголовка "Ф.И.О"
  
  const genderColumnHeader = document.createElement("th");     // Создание ячейки для заголовка "Пол"
  
  const ageColumnHeader = document.createElement("th");        // Создание ячейки для заголовка "Возраст"
  
  const positionColumnHeader = document.createElement("th");   // Создание ячейки для заголовка "Должность"
  
  const categoryColumnHeader = document.createElement("th");   // Создание ячейки для заголовка "Категория"
  
  // Установка заголовков для ячеек "шапки" таблицы
  FIOColumnHeader.appendChild(document.createTextNode("Ф.И.О."));   
  genderColumnHeader.appendChild(document.createTextNode("Пол"));
  ageColumnHeader.appendChild(document.createTextNode("Возраст"));
  positionColumnHeader.appendChild(document.createTextNode("Должность"));
  categoryColumnHeader.appendChild(document.createTextNode("Категория"));

  // Связываем строку с ячейками
  headerRow.appendChild(FIOColumnHeader);
  headerRow.appendChild(genderColumnHeader);
  headerRow.appendChild(ageColumnHeader);
  headerRow.appendChild(positionColumnHeader);
  headerRow.appendChild(categoryColumnHeader);


  //thead.appendChild(headerRow)

  table.appendChild(thead);      // 

  table.appendChild(headerRow);      // Добавляем сформированную строку в таблицу

  return table;    // Результат
}



// Функция для создания одной строки для таблицы
function createRow(postFIO,postGender,postAge,postPosition,postCategory) {


  ///const tbody = document.createElement("tbody");  ////////////////////////////

  const row = document.createElement("tr");        // Создание строки
  
  const FIOColumn = document.createElement("td");        //  Создание ячейки "Ф.И.О"
  
  const genderColumn = document.createElement("td");     // Создание для ячейки  "Пол"
  
  const ageColumn = document.createElement("td");        // Создание ячейки "Возраст"
 
  const positionColumn = document.createElement("td");   // Создание ячейки "Должность"
  
  const categoryColumn = document.createElement("td");   // Создание ячейки "Категория"
  

  // Вставка значений в ячееки  таблицы
  FIOColumn.appendChild(document.createTextNode(postFIO));   
  genderColumn.appendChild(document.createTextNode(postGender));
  ageColumn.appendChild(document.createTextNode(postAge));
  positionColumn.appendChild(document.createTextNode(postPosition));
  categoryColumn.appendChild(document.createTextNode(postCategory));

  // Связываем строку с ячейками
  row.appendChild(FIOColumn);
  row.appendChild(genderColumn);
  row.appendChild(ageColumn);
  row.appendChild(positionColumn);
  row.appendChild(categoryColumn);




  //thead.appendChild(tbody);  //////////////////////////////////////////

  


  return row;  // Результат
 
}










         </script>   



 </div>  

 
 
  <!-- В семантическую секцию мы поместили код, выводящий всплывающие сообщения, и блок content,
в котором будет выводится основное содержимое страниц  -->
                        </section>
                    </div>

               <footer class="mt-3">
                        <p class="text-center font-italic">&copy; Лесной. Замараев Вячеслав. 2025.</p>
                    </footer>
 
                   
                </body>
            </html>

        